{{#unless isUpdating}}
  <div class="row">
    {{#each itemController='plan'}}
      <div {{bind-attr class=":col-md-4 :plan id"}}>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{name}}</h3>
          </div>
          <div class="panel-body">
            <dl>
              <dt>Plan Limit</dt>
              <dd>{{limit}} Items</dd>
              <dt>Price</dt>
              <dd>{{formattedAmount}} per month</dd>
            </dl>

            <button {{action "subscribe" this}} class="btn-block btn-primary">
              Subscribe Now
            </button>

          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/unless}}
