%section
  = devise_error_messages!
.row
  .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { :role => 'form'}) do |f|
      %fieldset
        %h2
          Please Sign In
        %hr.colorgraph
        .form-group
          = f.email_field :email, class: 'form-control input-lg', placeholder: "Email Address", tabindex: "4", id: 'email'
        .form-group
          = f.password_field :password, class: 'form-control input-lg', placeholder: "Password", tabindex: '5', id: 'password'
        %span.button-checkbox
          %button.btn{"data-color" => "info", :tabindex => "7", :type => "button"} Remember Me
          = f.check_box :remember_me, class: "hidden", id: "remember_me"
          = link_to "Forgot password?", new_password_path(resource_name), class: 'btn btn-link pull-right'
        %hr.colorgraph
        .row
          .col-xs-6.col-sm-6.col-md-6
            = f.submit "Sign In", class: 'btn btn-lg btn-success btn-block', id: 'sign_in'
          .col-xs-6.col-sm-6.col-md-6
            =link_to "Register", new_user_registration_path, class: "btn btn-primary btn-block btn-lg"